service vendor.mitee.idmanager /odm/bin/idmanager
    class hal
    user system
    group system secure_element nfc root keystore
    oneshot
    disabled
    interface aidl vendor.xiaomi.hardware.idmanager.IIdManagerService/default
    interface aidl vendor.xiaomi.hardware.idmanager.ISecidService/default

on property:sys.boot_completed=1
    setprop ro.vendor.oem.boot_completed ${sys.boot_completed}
    start vendor.mitee.idmanager
