service miweaver_hal_service /odm/bin/hw/vendor.xiaomi.hardware.authsecretd
    class hal
    user  system
    group system drmrpc
    oneshot
    disabled
    interface aidl vendor.xiaomi.hardware.miauthsecretd.IMIAuthSecret/default
    interface aidl vendor.xiaomi.hardware.miauthsecretd.ICpaceService/default

on property:sys.boot_completed=1
    start vendor.xiaomi.hardware.authsecretd
