service vendor.mitee.vsimservice /odm/bin/vsimd_mitee
    interface aidl vendor.xiaomi.hardware.vsimapp.IVSIMService/default
    class hal
    user system
    group system
    disabled

on property:sys.boot_completed=1
    start vendor.mitee.vsimservice
